<!-- <pre>{{ leagueData | json}}</pre> -->
<mat-card appearance="outlined">
  <mat-card-content>
    <div class="container">
      <div class="logo-container"><img class="logo" src="{{leagueData.signLink}}" alt="logo"></div>
      <p>{{ leagueData.league }}</p>
    </div>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Table"><app-league-table [leagueData]="leagueData"></app-league-table></mat-tab>
      <mat-tab label="Matches">Matches</mat-tab>
      <mat-tab label="Scorers">Scorers</mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<!-- <app-league-table [leagueData]="leagueData"></app-league-table> -->
