@use '@angular/material' as mat;
@use '../../../../styles/variables' as var;

th,
td {
  width: 100%;
  color: var.$neutral-color;
  white-space: nowrap;
}

.mat-column-position {
  width: fit-content;

}

.mat-mdc-row {
  cursor: pointer;

  &:hover {
    background-color: var.$primary-color;
  }
}
