@use '../../../../styles/variables';


::ng-deep div.mat-mdc-select-panel {
  background-color: #fff;
  color: variables.$neutral-color;
}

::ng-deep .custom-select.mat-mdc-select-panel {
  background-color: variables.$dark-color;
  color: variables.$neutral-color;
}

::ng-deep div.mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c508571215-0.mdc-text-field--filled>div.mat-mdc-form-field-flex.ng-tns-c508571215-0>div {
  width: fit-content;
}

::ng-deep #cdk-overlay-0.cdk-overlay-pane {
  width: fit-content;
}

::ng-deep #mat-select-value-0 {
  padding-right: 1rem;
}
