@import '../../styles/_variables.scss';

.list {
  display: flex;
  flex-direction: row;

  .link {
    color: $neutral-color;
    text-decoration: none;
    margin-right: 1rem;
    transition: .3s;

    &:hover {
      opacity: .8;
    }
    &:active {
      text-decoration: underline;
    }
  }
}
