@if (!allMatches$) {
<p>Nothing is found</p>
}

@for (matchday of allMatches$ | async; track matchday.matchday) {
<h3>Matchday {{matchday.matchday}}</h3>
@for (event of matchday.events; track $index) {
<!-- <div class="container"> -->
<mat-card class="match-container" appearance="outlined">
  <mat-card-content class="match-content">
    <mat-card class="match-item team">
      <mat-card-title>{{event.home_team}}</mat-card-title>
      <!-- <div mat-card-avatar class="team-logo" [ngStyle]="{'background-image': url }"></div> -->
      <div mat-card-avatar class="team-logo" [ngStyle]="{'background-image': getTeamLogo(event.home_team) }"></div>
    </mat-card>
    <mat-card class="match-item match-info">
      <mat-card-title>{{ event.score.full_time[0] }} - {{ event.score.full_time[1] }}</mat-card-title>
      <mat-card-subtitle>{{ event.date }}</mat-card-subtitle>
      <mat-card-subtitle>{{ event.time }}</mat-card-subtitle>
      <mat-card-subtitle>{{ event.stadium }}</mat-card-subtitle>
    </mat-card>
    <mat-card class="match-item team">
      <mat-card-title>{{event.away_team}}</mat-card-title>
      <div mat-card-avatar class="team-logo"></div>
    </mat-card>
  </mat-card-content>
</mat-card>
<!-- </div> -->
}
}

<!-- <pre>{{ allMatches$ | async | json}} </pre> -->
