

.match-container {
  margin: 1rem;
  border-radius: .5rem;
}

.match-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.match-item {
  display: flex;
  flex: 1;
  text-align: center;
}

.team {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-team {
  justify-content: end;
}

.away-team {
  justify-content: start;

  mat-card-title {
    order: 1;
  }
}

.team-logo {
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.match-info-item {
  font-size: .8rem;
  // color: $dark-color;
}
